In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('multiemo60.csv', header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,236,237,238,239,240,241,242,243,244,245
0,NaN,NaN,NaN,NaN,NaN,NaN,"""ü§°"",""üôà""",NaN,NaN,NaN,...,NaN,NaN,"""üòà"", ""üëÄ""",NaN,NaN,NaN,"""üçÄ"",""üíØ""",NaN,NaN,NaN
1,Informazioni cronologiche,Nationality,Age,Gender,I am familiar with emoji use across those plat...,Informed consent,VALENCE,AROUSAL,SIMILARITY,RELATEDNESS,...,SIMILARITY,RELATEDNESS,VALENCE,AROUSAL,SIMILARITY,RELATEDNESS,VALENCE,AROUSAL,SIMILARITY,RELATEDNESS
2,22/05/2024 11.34.44,Italy,26,Female,WhatsApp,I have read and understood the information pro...,3,2,2,3,...,1,1,1,1,1,2,2,2,1,2
3,22/05/2024 20.20.06,Italy,29,Male,"WhatsApp, Telegram",I have read and understood the information pro...,1,3,2,1,...,1,1,2,3,4,4,3,2,1,2
4,22/05/2024 20.47.03,Italy,36,Female,"Facebook, WhatsApp, Instagram",I have read and understood the information pro...,2,3,1,4,...,2,2,1,1,1,1,3,3,3,3
5,22/05/2024 20.48.02,Italy,35,Male,"Facebook, WhatsApp, Twitter/X",I have read and understood the information pro...,2,3,1,2,...,1,1,3,2,2,3,4,3,3,3
6,22/05/2024 20.48.45,Italy,36,Female,"Facebook, WhatsApp, Instagram",I have read and understood the information pro...,3,3,3,1,...,1,1,3,2,1,4,3,3,3,3
7,22/05/2024 20.57.13,Italy,42,Female,"Facebook, WhatsApp, Instagram",I have read and understood the information pro...,1,1,1,1,...,1,1,1,2,1,1,4,4,2,4
8,22/05/2024 22.44.37,Italy,29,Male,"WhatsApp, Instagram, Telegram",I have read and understood the information pro...,3,2,2,4,...,1,1,3,3,3,4,4,4,3,4
9,23/05/2024 12.14.48,Italy,48,Male,"Facebook, WhatsApp, Instagram, Twitter/X, Tele...",I have read and understood the information pro...,1,2,1,3,...,1,3,1,2,1,2,1,3,1,2
10,23/05/2024 13.01.22,Italy,49,Female,"Facebook, WhatsApp",I have read and understood the information pro...,1,1,1,1,...,1,3,1,2,1,3,1,2,1,3
11,23/05/2024 15.58.09,Italy,26,Male,"Facebook, WhatsApp, Instagram, Twitter/X",I have read and understood the information pro...,2,1,1,3,...,1,1,4,3,4,4,4,4,4,4
12,24/05/2024 14.56.18,Italy,35,Male,"Facebook, WhatsApp, Instagram, Telegram",I have read and understood the information pro...,2,3,1,3,...,2,1,2,1,2,1,2,2,2,2
13,24/05/2024 15.49.41,Italy,31,Female,"Facebook, WhatsApp, Instagram, Telegram",I have read and understood the information pro...,2,3,4,1,...,1,1,1,2,1,2,3,2,2,2
14,25/05/2024 12.21.03,Denmark,30,Male,"Facebook, WhatsApp, Instagram, Telegram",I have read and understood the information pro...,3,3,1,2,...,1,1,2,2,1,2,3,3,1,2
15,25/05/2024 12.44.35,Italy,29,Male,"Facebook, WhatsApp, Instagram, Telegram",I have read and understood the information pro...,2,2,1,1,...,1,1,1,3,1,1,3,3,2,2
16,25/05/2024 12.52.23,Italy,32,Male,"Facebook, WhatsApp",I have read and understood the information pro...,1,2,1,1,...,1,1,3,2,3,2,3,3,3,3
17,26/05/2024 12.42.23,Italy,29,Male,"Facebook, WhatsApp",I have read and understood the information pro...,3,2,1,4,...,1,1,1,1,1,1,2,4,4,4
18,28/05/2024 19.17.45,Italy,26,Female,"WhatsApp, Instagram",I have read and understood the information pro...,1,1,2,3,...,2,3,1,2,2,2,3,3,3,4
19,MEDIA,NaN,NaN,NaN,NaN,NaN,"1,916666667","2,25","1,666666667","2,25",...,"1,166666667","1,416666667","1,916666667",2,"1,833333333","2,583333333","2,833333333","2,833333333","2,166666667","2,833333333"
20,STD,NaN,NaN,NaN,NaN,NaN,"0,7929614611","0,8660254038","0,9847319278","1,215431087",...,"0,3892494721","0,7929614611","1,083624669","0,7385489459","1,193416283","1,240112409","1,114640858","0,8348471099","1,029857301","0,8348471099"

In [4]:
df = df.drop([0, 19, 20])
df = df.drop([0, 1, 2, 3, 4, 5], axis=1)

In [5]:
new_header = df.iloc[0]  # Get the first row for the header
df = df[1:]  # Take the data less the header row
df.columns = new_header  # Set the header row as the dataframe header

df = df.reset_index(drop=True)

In [6]:
df

1,VALENCE,AROUSAL,SIMILARITY,RELATEDNESS,VALENCE,AROUSAL,SIMILARITY,RELATEDNESS,VALENCE,AROUSAL,...,SIMILARITY,RELATEDNESS,VALENCE,AROUSAL,SIMILARITY,RELATEDNESS,VALENCE,AROUSAL,SIMILARITY,RELATEDNESS
0,3,2,2,3,2,3,2,3,3,2,...,1,1,1,1,1,2,2,2,1,2
1,1,3,2,1,2,4,3,4,3,3,...,1,1,2,3,4,4,3,2,1,2
2,2,3,1,4,1,3,1,4,4,4,...,2,2,1,1,1,1,3,3,3,3
3,2,3,1,2,1,4,2,2,4,3,...,1,1,3,2,2,3,4,3,3,3
4,3,3,3,1,1,4,1,2,3,3,...,1,1,3,2,1,4,3,3,3,3
5,1,1,1,1,1,1,1,1,2,1,...,1,1,1,2,1,1,4,4,2,4
6,3,2,2,4,1,2,3,4,4,3,...,1,1,3,3,3,4,4,4,3,4
7,1,2,1,3,2,3,1,1,1,4,...,1,3,1,2,1,2,1,3,1,2
8,1,1,1,1,1,4,1,1,1,2,...,1,3,1,2,1,3,1,2,1,3
9,2,1,1,3,2,4,4,4,4,4,...,1,1,4,3,4,4,4,4,4,4
10,2,3,1,3,1,2,1,2,3,2,...,2,1,2,1,2,1,2,2,2,2
11,2,3,4,1,3,3,1,1,4,3,...,1,1,1,2,1,2,3,2,2,2
12,3,3,1,2,1,4,2,3,4,2,...,1,1,2,2,1,2,3,3,1,2
13,2,2,1,1,3,4,3,2,3,3,...,1,1,1,3,1,1,3,3,2,2
14,1,2,1,1,1,1,1,1,4,3,...,1,1,3,2,3,2,3,3,3,3
15,3,2,1,4,1,4,4,4,4,4,...,1,1,1,1,1,1,2,4,4,4
16,1,1,2,3,1,4,2,4,3,4,...,2,3,1,2,2,2,3,3,3,4

In [7]:
df_only_valence = df[['VALENCE']]
df_only_arousal = df[['AROUSAL']]
df_only_similarity = df[['SIMILARITY']]
df_only_relatedness = df[['RELATEDNESS']]
df_only_relatedness

1,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,...,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS,RELATEDNESS
0,3,3,3,1,4,3,4,4,4,2,...,4,1,4,1,1,2,3,1,2,2
1,1,4,3,1,4,2,2,1,4,1,...,3,1,4,2,1,1,1,1,4,2
2,4,4,4,2,4,4,4,4,4,4,...,4,1,4,1,2,3,2,2,1,3
3,2,2,4,1,4,4,3,3,4,3,...,3,1,2,2,1,3,2,1,3,3
4,1,2,4,2,2,4,2,4,4,2,...,4,1,3,4,1,3,1,1,4,3
5,1,1,1,2,3,2,4,2,4,1,...,2,2,1,3,1,1,3,1,1,4
6,4,4,4,2,4,4,4,4,4,4,...,4,2,4,1,1,4,1,1,4,4
7,3,1,3,2,4,2,4,3,4,2,...,2,3,2,2,1,1,1,3,2,2
8,1,1,4,2,1,4,2,4,4,2,...,4,3,2,4,1,3,2,3,3,3
9,3,4,4,1,4,4,4,4,4,4,...,4,4,4,1,4,4,1,1,4,4
10,3,2,3,2,3,3,4,2,4,2,...,4,1,1,3,1,1,1,1,1,2
11,1,1,3,1,2,1,2,4,4,2,...,4,1,3,2,1,1,1,1,2,2
12,2,3,4,1,4,4,2,3,3,2,...,4,1,4,3,1,1,3,1,2,2
13,1,2,3,1,3,3,1,1,3,2,...,2,1,3,1,1,1,1,1,1,2
14,1,1,4,1,3,3,1,4,3,1,...,4,1,3,1,1,3,1,1,2,3
15,4,4,4,1,4,4,4,4,4,1,...,4,1,3,4,1,2,1,1,1,4
16,3,4,4,1,4,4,3,3,4,1,...,4,2,4,3,1,2,1,3,2,4

In [8]:
df_only_relatedness = df_only_relatedness.applymap(int)
df_only_similarity = df_only_similarity.applymap(int)
df_only_valence = df_only_valence.applymap(int)
df_only_arousal = df_only_arousal.applymap(int)

relatedness_means = df_only_relatedness.mean().tolist()
similarity_means = df_only_similarity.mean().tolist()
valence_means = df_only_valence.mean().tolist()
arousal_means = df_only_arousal.mean().tolist()

In [9]:
arr1 = df_only_valence.applymap(int).values 
arr2 = df_only_arousal.applymap(int).values 
array_avg = (arr1 + arr2)/2

df_valence_arousal = pd.DataFrame(array_avg)
valence_arousal_means = df_valence_arousal.mean().tolist()

In [10]:
arr1 = df_only_similarity.applymap(int).values 
arr2 = df_only_relatedness.applymap(int).values 
array_avg = (arr1 + arr2)/2

df_similarity_relatedness = pd.DataFrame(array_avg)
similarity_relatedness_means = df_similarity_relatedness.mean().tolist()

In [11]:
arr1 = df_only_similarity.applymap(int).values 
arr2 = df_only_relatedness.applymap(int).values 
arr3 = df_only_valence.applymap(int).values 
arr4 = df_only_arousal.applymap(int).values 
array_avg = (arr1 + arr2 + arr3 + arr4)/4

df_average = pd.DataFrame(array_avg)
average_means = df_average.mean().tolist()

In [12]:
# Collect mean values

similarity_relatedness_means

[1.8823529411764706,
 2.235294117647059,
 3.3823529411764706,
 1.2058823529411764,
 3.4411764705882355,
 2.5294117647058822,
 2.323529411764706,
 2.6470588235294117,
 3.3529411764705883,
 1.7941176470588236,
 3.4411764705882355,
 2.735294117647059,
 2.3529411764705883,
 3.8529411764705883,
 2.176470588235294,
 1.0294117647058822,
 1.3235294117647058,
 3.411764705882353,
 1.9411764705882353,
 3.4705882352941178,
 2.676470588235294,
 2.4411764705882355,
 2.9705882352941178,
 2.735294117647059,
 3.6176470588235294,
 2.588235294117647,
 2.9705882352941178,
 1.3235294117647058,
 1.5588235294117647,
 1.8235294117647058,
 1.6176470588235294,
 3.6176470588235294,
 1.9411764705882353,
 3.411764705882353,
 1.7647058823529411,
 1.1764705882352942,
 3.823529411764706,
 1.8235294117647058,
 2.5588235294117645,
 1.3529411764705883,
 2.0,
 1.1764705882352942,
 2.0588235294117645,
 2.2058823529411766,
 2.8823529411764706,
 3.6470588235294117,
 1.4411764705882353,
 2.3823529411764706,
 2.911764705882353,
 2.9411764705882355,
 2.911764705882353,
 1.3529411764705883,
 2.823529411764706,
 1.911764705882353,
 1.1470588235294117,
 1.7058823529411764,
 1.4705882352941178,
 1.2941176470588236,
 2.0294117647058822,
 2.588235294117647]

In [13]:
# Everything

participant_correlation = df.T.corr(method='pearson')
upper_triangle = participant_correlation.where(np.triu(np.ones(participant_correlation.shape), k=1).astype(bool))
upper_triangle_values = upper_triangle.stack()

average_correlation = upper_triangle_values.mean()
average_correlation

0.48785193302701624

In [14]:
# Only VALENCE

participant_correlation = df_only_valence.T.corr(method='pearson')
upper_triangle = participant_correlation.where(np.triu(np.ones(participant_correlation.shape), k=1).astype(bool))
upper_triangle_values = upper_triangle.stack()

average_correlation_valence = upper_triangle_values.mean()
average_correlation_valence

0.5395550170152126

In [15]:
# Only AROUSAL

participant_correlation = df_only_arousal.T.corr(method='pearson')
upper_triangle = participant_correlation.where(np.triu(np.ones(participant_correlation.shape), k=1).astype(bool))
upper_triangle_values = upper_triangle.stack()

average_correlation_arousal = upper_triangle_values.mean()
average_correlation_arousal

0.3869457850942696

In [16]:
# Only SIMILARITY

participant_correlation = df_only_similarity.T.corr(method='pearson')
upper_triangle = participant_correlation.where(np.triu(np.ones(participant_correlation.shape), k=1).astype(bool))
upper_triangle_values = upper_triangle.stack()

average_correlation_similarity = upper_triangle_values.mean()
average_correlation_similarity

0.5705956509447409

In [17]:
# Only RELATEDNESS

participant_correlation = df_only_relatedness.T.corr(method='pearson')
upper_triangle = participant_correlation.where(np.triu(np.ones(participant_correlation.shape), k=1).astype(bool))
upper_triangle_values = upper_triangle.stack()

average_correlation_relatedness = upper_triangle_values.mean()
average_correlation_relatedness

0.4393815090863885

### Hypothesis testing

In [18]:
from scipy.stats import t

ALPHA = 0.05
SAMPLE_SIZE = 17
DOF = SAMPLE_SIZE - 2

t_value = (average_correlation_arousal * np.sqrt(DOF))/np.sqrt(1 - average_correlation_arousal**2)
p = 1 - t.cdf(t_value, DOF)

### Mean std is around 0.84 (directly extracted on the xls)

In [49]:
from scipy.stats import t

# Sample correlation coefficient
r = average_correlation_relatedness

# Fisher transformation
z = (np.log((1+r)/(1-r)))/2

# Sample size
N = 17

# Standard error of z
SE_z = 1 / (N - 3)**0.5

# Test statistic
test_statistic = z / SE_z

# Degrees of freedom
df = N - 3

print(test_statistic)

# Critical value for a two-tailed test at alpha = 0.05
alpha = 0.05
critical_value = t.ppf(1 - alpha, df)
print(critical_value)

# Test for significance
if abs(test_statistic) > critical_value:
    print("Correlation is statistically significant.")
else:
    print("Correlation is not statistically significant.")

1.7640570769707236
1.7613101357748562
Correlation is statistically significant.

# Pass means for evaluation

In [20]:
all_means = {
    "gold_valence": valence_means, 
    "gold_arousal": arousal_means, 
    "gold_similarity": similarity_means, 
    "gold_relatedness": relatedness_means, 
    "gold_VA": valence_arousal_means, 
    "gold_SR": similarity_relatedness_means, 
    "gold_avg": average_means
    }

In [21]:
import json

with open('data.json', 'w') as file:
    json.dump(all_means, file, indent=4)